header  {
    text-align: center;
    margin: auto;
    font-size: 80px;
}

h1{
    text-align: center;
}

body{
    margin-left: 10%;
    margin-right: 10%;
}


.post-template-1{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}


.post-template-1 img {
    width: 95%;
    height: auto;
    margin: 2.5%;
}

.sections {
    width: 100%;

    /* IF YOU WANT TO GO TO FLEXBOX FOR NAV AGAIN */
    /* display: flex;
    justify-content: space-between; */

    /* If you want to use grid for 3 columns, 2 rows */
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr ;

}